<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles.css">
  <title>
    <%= title %>
  </title>
</head>

<body>

  <header class="header">
    <a href="/">
      <h1>Prime<span>Cart</span></h1>
    </a>
  </header>

  <main class="container">
    <div class="grid">

      <!-- Product Card -->
      <% products.forEach(product=> { %>
        <div class="card">
          <img src="<%=product.image %>" alt="<%= product.name %>">

          <div class="card-body">
            <h2>
              <%= product.name %>
            </h2>
            <p>$<%= product.price.toFixed(2) %>
            </p>
            <a href="/checkout/<%= product.id %>">
              <button>Buy</button>
            </a>
          </div>
        </div>
        <% }) %>
    </div>
  </main>

</body>

</html>